<!DOCTYPE html>
<html lang="en" ng-app="HelpingHandApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.timeago.js"></script>

		<script src="https://www.parse.com/downloads/javascript/parse-1.4.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Qfbd_zjalNr0MmZa_rNMn4KsA6POwY4"></script>

		<!-- Local versions
		<script src="js/parse-1.4.2.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<link href="css/bootstrap.css" rel="stylesheet">
		<script src="js/google-maps-http.js"></script>-->

		<script src="js/init.js"></script>
		<script src="js/pin.js"></script>
		<script src="js/delivery.js"></script>
		<script src="js/main.js"></script>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body ng-controller="AppController as app" class="text-center">

		<!-- LOADING SCREEN -->
		<div class="login-screen">
			<div class="header">
				<img class="logo" src="icon.png" alt="Helping Hands Logo">
				<div class="intro-screen">
					<div class="greeting">Welcome to Helping Hands</div>
					<div class="sub-title">A charity dedicated to people in need who are just a few blocks away</div>
					<div class="instructions">
						<div class="left">Sara sees a person asking for food or water and drops a pin at his or her location.</div>
						<div class="right">John has half a sandwich left over from lunch and can see pins nearby.</div>
					</div>
					<div class="connect-buttons col-xs-12">
						<button class="btn btn-md col-xs-12 btn-primary" ng-click="app.loginWithUsername()">Log in with Username</button>
						<button class="btn btn-md col-xs-12 btn-disabled" disabled="disabled" ng-click="app.loginWithFacebook()">Log in with Facebook</button>
						<a class="" ng-click="app.showCreateAccountScreen()">Create Account</a>
					</div>
				</div>
			</div>
			<div class="login-prompt col-xs-12 col-sm-12">
				<div class="greeting"></div>
				<div class="input-group col-xs-12 col-sm-12" style="display: none">
					<span class="input-group-addon" id="sizing-addon1">Email</span>
					<input id="email" type="text" class="form-control" placeholder="helper@hh.org" aria-describedby="sizing-addon1">
				</div>
				<div class="input-group col-xs-12 col-sm-12">
					<span class="input-group-addon" id="sizing-addon1">Username</span>
					<input id="username" type="text" class="form-control" placeholder="helperElf2000" aria-describedby="sizing-addon1">
				</div>
				<div class="input-group col-xs-12 col-sm-12">
					<span class="input-group-addon" id="sizing-addon1">Password</span>
					<input id="password" type="password" class="form-control" placeholder="" aria-describedby="sizing-addon1">
				</div>
				<div class="login-buttons">
					<a class="pull-left pointer" ng-click="app.init()">&laquo; Back</a>
					<button class="btn btn-md btn-primary login pull-right" ng-click="app.login()">Login</button>
					<button class="btn btn-md btn-primary create pull-right" ng-click="app.createAccount()">Create New Account</button>
				</div>
			</div>
		</div>
		<div id="map-container" ng-controller="MapController as map">
			<div class="top-nav">
				<span class="pull-left glyphicon glyphicon-th-list pointer btn-helpstream" ng-click="app.showHelpstream()"></span>
				<span class="pull-left glyphicon glyphicon-chevron-left btn-back pointer"></span>
				<span>HELPING HANDS</span>
				<span class="pull-right glyphicon glyphicon-user btn-userinfo pointer" ng-click="app.logout()"></span></a>
				<span class="pull-right glyphicon glyphicon-remove btn-close pointer"></span>
			</div>
			<div id="helpstream">
				<ul class="media-list">
				  <li class="media" ng-repeat="item in app.deliveries">
					<div class="row">
						<div class="col-xs-4 stats">
					        <!--img class="media-object" src="..." alt="..."-->
							<time class="timeago" datetime="{{item.createdAt}}">{{item.timeElapsed}}</time><br/>
							<span class="food-icon glyphicon glyphicon-apple media-object"></span>
							<span class="location">[Area]</span>
					    </div>
					    <div class="col-xs-8 info">
						  <p class="helpers"><strong>{{item.createdByUser}}</strong> made a donation happen with the help of <strong>{{item.helpedBy}}</strong>.</p>
					      <p class="hidden">Message: {{item.message}}</p>
					    </div>
					</div>
				  </li>
				</ul>
			</div>

			<div id="map-canvas"><p>Loading Map...</p></div>
			<div class="map-center"><img src="img/map_center.png" alt="" /></div>
			<div class="center-button"><a href ng-click="map.centerMapOnMe()"><span class="glyphicon glyphicon-screenshot"></span></a></div>
			<nav class="navbar navbar-default navbar-fixed-bottom bottom-nav">
				<div class="container bottom-button-container" style="">
					<div style="" class="drop-pin-button active" href ng-click="app.dropPin()">DROP PIN</div>
					<div style="" class="give-hand-button" href ng-click="map.inspectNearestPin()">GIVE A HAND</div>
				</div>
			</nav>


			<!-- Modal: Drop Pin -->
			<div class="modal fade" id="dropPinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-body">
						<div class='needs'>
							<h4>WHAT DO THEY NEED?</h4>
							<div class="needs-buttons" data-toggle="buttons">
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="food" autocomplete="off"><span class="food-icon glyphicon glyphicon-apple"></span>
								</label>
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="water" autocomplete="off"><span class="water-icon glyphicon glyphicon-tint"></span>
								</label>
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="umbrella" autocomplete="off"><span class="umbrella-icon glyphicon glyphicon-cloud-download"></span>
								</label>
							</div>
							<div class="needs-labels">
								<div>FOOD</div>
								<div>WATER</div>
								<div>UMBRELLA</div>
							</div>
						</div>

						<div class='timeframe'>
							<h4>HOW LONG ARE THEY THERE?</h4>
							<div class="time-buttons" data-toggle="buttons">
								<label class="col-sm-3 col-md-3 col-lg-3 btn btn-lg btn-default time-button active">
									<input class="time_at_location" type="radio" autocomplete="off" value='1'><span class="1hr-icon glyphicon glyphicon-time"></span>
								</label>
								<label class="col-sm-3 col-md-3 col-lg-3 btn btn-lg btn-default time-button">
									<input class="time_at_location" type="radio" autocomplete="off" value='2'><span class="2hr-icon glyphicon glyphicon-time"></span>
								</label>
								<label class="col-sm-3 col-md-3 col-lg-3 btn btn-lg btn-default time-button">
									<input class="time_at_location" type="radio" autocomplete="off" value='3'><span class="3hr-icon glyphicon glyphicon-time"></span>
								</label>
								<label class="col-sm-3 col-md-3 col-lg-3 btn btn-lg btn-default time-button">
									<input class="time_at_location" type="radio" autocomplete="off" value='4'><span class="4hr-icon glyphicon glyphicon-time"></span>
								</label>
							</div>
							<div class="time-labels">
								<div>1HR</div>
								<div>2HRS</div>
								<div>3HRS</div>
								<div>4HRS</div>
							</div>
						</div>
					</div>
					<div class="slide-to-help" ng-click="map.savePin()">SWIPE TO HELP >></div>
					</div>
				</div>
			</div>

			<!-- Modal: Inspect Pin -->
			<div class="modal fade" id="inspectPinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-body">
						<div class='needs'>
							<h4>THIS PERSON NEEDS...</h4>
							<div class="needs-buttons" data-toggle="buttons">
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="food" autocomplete="off"><span class="food-icon glyphicon glyphicon-apple"></span>
								</label>
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="water" autocomplete="off"><span class="water-icon glyphicon glyphicon-tint"></span>
								</label>
								<label class="col-sm-4 btn btn-lg btn-default needs-button">
									<input class="need" type="checkbox" value="umbrella" autocomplete="off"><span class="umbrella-icon glyphicon glyphicon-cloud-download"></span>
								</label>
							</div>
							<div class="needs-labels">
								<div class="food-icon-label">FOOD</div>
								<div class="water-icon-label">WATER</div>
								<div class="umbrella-icon-label">UMBRELLA</div>
							</div>
						</div>
						<div class="food-note">*PLEASE ENSURE ALL FOOD IS INDIVIDUALLY WRAPPED</div>

						<div class='location'>
							<h4>HERE ARE THE DETAILS...</h4>
							<ul class="location-details">
								<li>Distance: <span class="distance">--</span></li>
								<li>Estimated Walk Time: <span class="time">--</span></li>
								<li>Estimated Arrival Time: <span class="eta">--</span></li>
							</ul>
						</div>
					</div>
					<input type="hidden" name="pin_id" value="">
					<div class="slide-to-help" ng-click="map.giveHand()">SWIPE TO ACCEPT >></div>
					<div class="slide-to-cancel" data-dismiss="modal"><< SWIPE TO CANCEL</div>
					</div>
				</div>
			</div>

			<!-- Modal: Cancel Delivery
				* Can't find the person in need
				* Can't reach destination
				* Can't complete delivery (catch all reason)
			-->
			<div class="modal fade" id="completeDeliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-body">
						<div class='needs'>
							<h4>THANK YOU SO MUCH FOR GIVING SOMEONE A HAND</h4>
							<p>Chances are, you made someone's day!</p>
							<p>Can you send a note to the person who dropped the pin and tell them what you delivered?</p>
							<div class="form-group">
							  <textarea class="form-control helpers-note" rows="5" id="comment"></textarea>
							</div>
						</div>
					</div>
					<div class="slide-to-help" ng-click="app.completeDelivery()">SWIPE TO SEND >></div>
					<div class="slide-to-cancel" data-dismiss="modal"><< SWIPE TO CANCEL</div>
					</div>
				</div>
			</div>

			<!-- Modal: Cancel Delivery
				* Can't find the person in need
				* Can't reach destination
				* Can't complete delivery (catch all reason)
			-->
			<div class="modal fade" id="cancelDeliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-body">
						<div class='needs'>
							<h4>ARE YOU SURE YOU WANT TO CANCEL THE DELIVERY?</h4>
							<div class="btn-group reasons" data-toggle="buttons">
								<label class="btn btn-default">
									<input type="radio" name="options" id="reason1" autocomplete="off">Yes. I can't find the person in need.
								</label>
								<label class="btn btn-default">
									<input type="radio" name="options" id="reason2" autocomplete="off">Yes. I can't find the destination.
								</label>
								<label class="btn btn-default active">
									<input type="radio" name="options" id="reason3" autocomplete="off">Yes. I can't complete the delivery.
								</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-md btn-default" data-dismiss="modal">No. Don't cancel.</button>
						<button type="button" class="btn btn-md btn-danger" data-dismiss="modal" ng-click="app.cancelDelivery()">Cancel Delivery</button>
					</div>
					</div>
				</div>
			</div>

			<!-- Overlay: Complete/Cancel -->
			<div class="cancel-complete">
				<div class="slide-to-help" ng-click="app.completeRoute()">SWIPE TO COMPLETE >></div>
				<div class="slide-to-cancel" ng-click="app.cancelRoute()"><< SWIPE TO CANCEL</div>
			</div>
		</div>
	</body>


</html>
